<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <!-- Personal -->
    <package id="google-chrome-x64" />
    <package id="firefox" />
    
    <!-- <package id="skype" /> -->
    <!-- <package id="dropbox" /> -->
    <!-- <package id="steam" /> -->
    <!-- <package id="discord.install" /> -->

    <!-- Media -->
    <!-- Manual: OBS -->
    <package id="unifiedremote" />
    <package id="vlc" />
    <package id="flac" />

    <!-- <package id="spotify" /> -->
    <!-- <package id="elgato-game-capture" /> -->
    <!-- <package id="mixxx" /> -->
    <!-- <package id="plexmediaserver" /> -->
    <!-- <package id="plex" /> -->
    
    <!-- Utils -->
    <package id="7zip" />
    <package id="autohotkey_l" />
    <package id="greenshot" />
    <package id="gource" />
    <package id="calibre" />
    <!-- Manual: -->
    <!-- <package id="nordvpn" /> -->
    <!-- <package id="qbittorrent" /> -->

    <!-- Dev -->
    <!-- Manual: -->
    <!-- <package id="visualstudio2019community" /> -->
    <!-- <package id="vscode" /> -->
    <!-- https://Cursor.com -->

    <package id="conemu" />
    <package id="procexp" />
    <package id="vcredist140" />
    <package id="vcredist2010" />

    <!-- 3D & PCB -->
    <!-- Manual: MeshMixer -->
    <package id="openscad" />
    <package id="eagle" />
    <!-- <package id="cura-new" /> -->
  </packages>
</xml>