
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
	dark = true
	syntax-theme = Coldark-Dark
    # use n and N to move between diff sections
    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true
[merge]
	conflictstyle = diff3
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = oliver.fowler@analog.com
	name = Oliver Luke Fowler
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
