<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <!-- Personal -->
    <package id="google-chrome-x64" />
    <package id="firefox" />
    
    <package id="skype" />
    <package id="dropbox" />

    <package id="steam" />
    <package id="discord.install" />

    <!-- Media -->
    <package id="tidal" />
    <package id="spotify" />
    <package id="obs-studio.install" />
    <package id="elgato-game-capture" />
    <package id="unifiedremote" />
    <package id="vlc" />
    <package id="mixxx" />
    <package id="flac" />
    <package id="plexmediaserver" />
    <package id="plex" />
    
    <!-- Utils -->
    <package id="7zip" />
    <package id="nordvpn" />
    <package id="autohotkey_l" />
    <package id="calibre" />
    <package id="greenshot" />
    <package id="qbittorrent" />
    <package id="gource" />

    <!-- Dev -->
    <package id="visualstudio2019community" />
    <package id="vscode" />
    <package id="sublimetext3" />

    <package id="conemu" />
    <package id="procexp" />
    <package id="vcredist140" />
    <package id="vcredist2010" />
    <package id="git.install" />
    <package id="nodejs.install" />

    <!-- 3D & PCB -->
    <package id="openscad" />
    <package id="eagle" />
    <package id="meshmixer" />
    <package id="cura-new" />

  </packages>
</xml>